@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-3">
	<h1 class="text-center">Movie search</h1>
	<form method="get" action="/Home/Search" class="input-group p-2 mb-3">
		<input required type="text" name="title" class="form-control" placeholder="Recipient's movie" aria-label="Recipient's movie" aria-describedby="button-addon2">
		<button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
	</form>
</div>
