@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-3 container-search">
	
	<form method="get" action="/Home/Search" class="input-group p-2 mb-3 mt-100">
		<input required type="text" name="title" class="form-control " placeholder="Recipient's movie" aria-label="Recipient's movie" aria-describedby="button-addon2">
		<button class="btn btn-success" type="submit" id="button-addon2">Movies</button>
	</form>
</div>

